* {
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 0 auto;
    border: 1px solid red;
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    margin-top: 20px;
    padding: 60px 0px 10px 15px;
}

.generator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generator-input {
    border: 1px dashed grey;
    width: 20em;
    height: 3em;
    padding: 20px;
}

.generator-button {
    padding: 5px 0px;
    background-color: red;
    color: red;
}